<div class="sd">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Hava Durumu</h2>
    </div>
  <div class="input-group" style="padding-right: 60%; padding-left: 1%; padding-bottom: 2%; padding-top: 1%">
    <input style="padding-right: 10%" type="text" class="form-control" id="city" [(ngModel)]="cityName" name="city" placeholder="City Name">
    <span class="input-group-btn" style="margin-left: 5px">
    <button class="btn btn-primary" (click)="getWeather(cityName); toggleDisplay()">Get Weather</button>
      </span>
  </div>

    <div *ngIf="isShow" class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Country</th>
          <th>City</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Pressure</th>
          <th>Description</th>
          <th>Sunrise Time</th>
          <th>Sunset Time</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr *ngFor="let weather of weathers | async">-->
          <td><img [src]="'http://openweathermap.org/img/w/' + weathers.icon + '.png'" class="mr-2" style="width: 50px"></td>
          <td>{{weathers.country}}</td>
          <td>{{weathers.city}}</td>
          <td>
            {{weathers.temperature}} °C </td>
          <td>{{weathers.humidity}}</td>
          <td>{{weathers.pressure}}</td>
          <td>{{weathers.description}}</td>
          <td>{{weathers.sunriseTime}}</td>
          <td>{{weathers.sunsetTime}}</td>
<!--        </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
